html {
   scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(156, 214, 188);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
#navbar {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}
#navbar ul {
    display: flex;
    margin: 10px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
#navbar ul li a {
    margin-left: 3px;
    color: black;
    opacity: 0.8;
    font-size: 1.2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: lightpink;
    text-decoration: underline;
    transition: all 0.15s;
}
#intro-section {
    height: 300px;
    background-image:url("https://cdn.pixabay.com/photo/2019/09/17/18/48/computer-4484282_1280.jpg");
    background-size: cover;
    margin-top: 0px;
}
#welcome-section {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.message {
    display: flex;
    margin-right: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
}
.img {
    margin: center;
    max-width: 100%;
}
section {
    margin-top: 1em;
    padding-top: 2rem;
}
.section-heading {
    font-size: 2rem;
    text-align: center;
}
.about-container {
    display: flex;
    justify-content: center;
}
div.my-info {
    display: block;
    font-size: 1.4rem;
    text-align: left;
    margin-right: 300px;
}
div.my-image {
    justify-content: right;
}
#skills-section {
    background-color: rgb(150, 181, 180);
    color: white;
}
.skills-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.skill-info {
    padding: 2rem;
    text-align: center;
}
.skill-name {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
.skill-info progress {
    background-color: white;
    border: 1px solid white;
}
.skill-info progress::-webkit-progress-value {
    background-color: white;
    border-radius: 0;
}
.skill-info progress::-webkit-progress-bar {
    background-color: rgb(150, 181, 180);
}
.email {
    text-decoration: none;
    color: rgb(76, 13, 132);
    font-size: 1.2rem;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-container .image-box {
    margin: 5px;
}
.image-box a {
    text-decoration: none;
    text-align: center;
}
#contact-section {
    background-color: black;
    margin-top: 50px;
    padding: 50px;
    color: white;
    text-align: center;
}
#contact-section a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}